{% extends "core/emails/base.html.j2" %}
{% block title %}Your Access Has Been Revoked{% endblock %}
{% block content %}
    <h1>Access Revoked</h1>
    <p>
        Dear
        {% if user.first_name %}
            {{ user.first_name }}
        {% else %}
            user
        {% endif %}
        ,
    </p>
    <p>
        Your access to gated components in the workspace <strong>{{ team.name }}</strong> has been revoked.
    </p>
    <p>If you would like to request access again, you will need to sign the NDA again as part of your new request.</p>
    <p>If you have any questions about this decision, please contact the workspace administrators.</p>
    <p>
        Regards,
        <br>
        The sbomify Team
    </p>
{% endblock %}
