{% extends "core/emails/base.html.j2" %}
{% block title %}Your Access Request Has Been Rejected{% endblock %}
{% block content %}
    <h1>Access request declined</h1>
    {# djlint:off #}
    <p>Hi {% if user.first_name %}{{ user.first_name }}{% else %}there{% endif %},</p>
    {# djlint:on #}
    <p>
        Your request for access to the workspace <strong>{{ team.name }}</strong> was not approved.
        If you'd like to try again, you can submit a new request (you'll need to sign the NDA again).
    </p>
    <p>For questions about this decision, please reach out to the workspace administrators.</p>
{% endblock %}
