{% extends "core/emails/base.html.j2" %}
{% block title %}Your Access Request Has Been Rejected{% endblock %}
{% block content %}
    <h1>Access Request Rejected</h1>
    {# djlint:off #}
    <p>Dear {% if user.first_name %}{{ user.first_name }}{% else %}user{% endif %},</p>
    {# djlint:on #}
    <p>
        Your request for access to gated components in the workspace <strong>{{ team.name }}</strong> has been rejected.
    </p>
    <p>If you would like to request access again, you will need to sign the NDA again as part of your new request.</p>
    <p>If you have any questions about this decision, please contact the workspace administrators.</p>
{% endblock %}
