fly.toml
.git/
*.sqlite3
.venv/
.env
localstack-volume/
test_env
sboms/tests/test_data/osv-scanner.toml
**/__snapshots__/
**/__diffs__/
node_modules/
.mypy_cache/
.claude/
screencasts/
.ruff_cache/
.pytest_cache/
**/__pycache__/