{% if token.is_expired %}
    <c-badges.danger>Expired {{ token.expires_at|date:"j M Y" }}</c-badges.danger>
{% elif token.expires_at %}
    <c-forms.hint>Expires {{ token.expires_at|date:"j M Y" }}</c-forms.hint>
{% else %}
    <c-forms.hint>Never expires</c-forms.hint>
{% endif %}
