<div x-data="supplierEditor({ supplier: {{ supplier|default:'{"name": null, "url": [], "address": null, "contacts": []}'|safe }} })">
    {% include 'sboms/components/supplier_editor_base.html.j2' %}
</div>
