{% if turnstile_site_key and not debug %}
    <script>
        // Turnstile callback functions
        function turnstileCallback(token) {
            document.getElementById('id_cf_turnstile_response').value = token;
        }

        function turnstileErrorCallback() {
            document.getElementById('id_cf_turnstile_response').value = '';
            console.error('Turnstile error occurred');
        }
    </script>
{% endif %}
