<div x-data="componentMetaInfoWrapper({ componentId: '{{ component.id }}', teamKey: '{{ request.session.current_team.key }}', allowEdit:
    {% if component.has_crud_permissions %}
        true
    {% else %}
        false
    {% endif %}
    })" @metadata-saved="refreshDisplay()" @close-metadata-editor.window="isEditing = false">
    <!-- Display Mode -->
    <template x-if="!isEditing">
        <div class="component-meta-info-display-container"
             @edit-metadata="isEditing = true">
            {% include 'core/components/component_meta_info_display.html.j2' %}
        </div>
    </template>
    <!-- Edit Mode -->
    <template x-if="isEditing">
        <div class="component-meta-info-editor-container">
            {% include 'core/components/component_meta_info_editor.html.j2' %}
        </div>
    </template>
</div>
