{% comment %}
ConfirmAction Component - Attaches confirmation dialog to an existing element

Usage:
{% include 'core/components/confirm_action.html.j2' with {
    target_element_id: 'delete-btn',
    item_name: 'My Item',
    item_type: 'project',
    confirmation_message: 'Are you sure?' (optional)
} %}
{% endcomment %}
<div x-data="confirmAction({ targetElementId: '{{ target_element_id }}', itemName: '{{ item_name|escapejs }}', itemType: '{{ item_type }}', confirmationMessage: '{{ confirmation_message|default:""|escapejs }}' })"
     class="d-none"></div>
