{% load django_vite %}
{% if messages %}
    <div x-cloak x-data="messagesToast()">
        <script type="text/data" x-ref="messagesData">
            [
                {% for message in messages %}
                {
                    "level_tag": "{{ message.level_tag }}",
                    "message": "{{ message|escapejs }}"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        </script>
    </div>
{% endif %}
