{% load static %}
{% load django_vite %}
{% load cache %}

<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Software Bill of Materials management">
	<meta name="keywords" content="SBOM SBOMs software bill of materials security">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="{% static 'img/sbomify-icon.svg' %}" />
  <link rel="icon" type="image/svg+xml" href="{% static 'img/sbomify-icon.svg' %}" sizes="any">

  <title>{% block title %}SBOMify{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

  <link href="{% static 'css/light.css' %}" rel="stylesheet">
  <link href="{% static 'site.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  {% endblock %}
  {% vite_hmr_client %}
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
  {% block main %}
    {% cache 300 'header' request.user.id %}
        {% include "core/components/topnav.html" %}
    {% endcache %}

    <div class="container-fluid">
        <div class="row">
            {% cache 300 'sidebar' request.user.id request.session.current_team.id %}
                {% include "core/components/sidebar.html" %}
            {% endcache %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="messages-container">
                    {% include "core/components/messages.html" %}
                </div>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
  {% endblock %}

  <script src="{% static 'js/app.js' %}"></script>

  {% block scripts %}{% endblock %}
  {% vite_asset 'core/js/main.ts' %}
</body>

</html>