<label class="tw-radio-label{% if class %} {{ class }}{% endif %}">
    <input type="radio"
           name="{{ name }}"
           value="{{ value }}"
           class="tw-form-radio"
           {% if checked %}checked{% endif %}
           {% if disabled %}disabled{% endif %}
           {{ attrs|safe }}>
    <span>{{ label }}</span>
</label>
