:root {
  --nav-background: rgb(232, 232, 232);
  --color-glass-200: rgba(255, 255, 255, 0.8);
  --text-primary: #7C8B9D;
  --text-title: #000000;
  --white: #FFFFFF;
  --bg-primary: #F9FBFD;
  --link-text-color: #7C8B9D;
  --active-background: #7C8B9D;
  --border-color: #7C8B9D;
  --btn-primary-bg: #3B7DDD;
  --form-control-border: #7C8B9D;
}

@font-face {
  font-family: "Agrandir";
  src: url("/static/fonts/agrandir.woff2") format("woff2");
}

body {
  color: var(--text-primary);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, label, th, td {
  color: var(--text-primary);
}

.nav-bg {
  background-color: var(--nav-background);
}

code {
  font-size: larger;
  color: black;
}

.icon-link {
  text-decoration: none !important;
}

.form-control, .form-select {
  border: 1px solid var(--form-control-border);
}

.actions-bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.navbar {
  border-bottom: 0.5px solid var(--border-color);
  background: var(--color-glass-200, #FFF);
}

.sidebar {
  border-right: 0.5px solid var(--border-color);
  background: var(--color-glass-200, #FFF);
}

.sidebar-brand {
  background: var(--color-glass-200, #FFF);
  color: var(--link-text-color);
}

.sidebar-content {
  background: var(--color-glass-200, #FFF);
  border-right: 0.5px solid var(--border-color);
}

.sidebar-nav {
  background: var(--color-glass-200, #FFF);
}

.sidebar-link, a.sidebar-link {
  background: var(--color-glass-200, #FFF);
  color: var(--link-text-color);
}

link svg, a.sidebar-link i, a.sidebar-link svg {
  color: var(--link-text-color);
}

li.sidebar-item {
  color: var(--link-text-color);
  font-family: Agrandir;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px 10px;
}

.sidebar-item:hover > .sidebar-link, .sidebar-item.active:hover > .sidebar-link {
  border-radius: 0.25rem;
  background: var(--active-background);
  color: var(--color-glass-200);
}

.sidebar-item.active > .sidebar-link {
  border-radius: 0.25rem;
  background: var(--active-background);

  border-left-color: var(--active-background);
  color: var(--color-glass-200);
}

.form-control, .form-select {
  border-radius: 4px;
  border: 1px solid #D1D9E2;
}

.badge {
  border-radius: 100px;
  border: 1px solid #F1F1F1;
  background: #FFFFFF;
  color: #7C8B9D;
  font-weight: 400;
}

.badge.bg-primary, .badge.bg-secondary {
  color: #FFFFFF;
}

.page-title {
  color: var(--text-title);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.btn-primary {
  border-color: var(--btn-primary-bg);
  background-color: var(--btn-primary-bg);
}

.btn-primary:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.card {
  background-color: var(--white);
  border: 1px solid #D1D9E2;
  border-radius: 0.25rem;
}

.card-title {
  color: #000;
}

.card-header {
  border-bottom: 1px solid #D1D9E2;
}

.data-table .card-body {
  padding: 0;
}

.data-table .card-body .table {
  margin-bottom: 0;
}

.data-table th,  .data-table td {
  padding: 16px;
}

.data-table th {
  font-size: 12px;
  text-transform: uppercase;
}

.data-table .actions-header {
  width: 1%;
  min-width: 300px;
}

.data-table .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.data-table .actions .separator {
  border-left: 1px solid #D1D9E2;
  margin: 0 16px;
  height: 16px;
}

.no-items {
  margin: 0;
  padding: 16px;
}

.border-left {
  border-left: 1px solid #D1D9E2;
}

.border-secondary {
  border: 1px solid #D1D9E2;
}

.editable-field {
  border: 0px;
  border-bottom: 1px solid rgb(83, 83, 83);
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.public-page {
  margin: 0;
  padding: 0 0 80px;
}

.pp-content {
  max-width: 80%;
  margin: 0 auto;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  background-color: gainsboro;
  /* max-width: 150px; */
  margin: 0 auto 0;
}

.brand img {
  width: 200px;
  height: auto;
}

.pp-content-container {
  position: relative;
}

.pp-content-bg {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: gainsboro;
}

.pp-content {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  z-index: 99;
}

.pp-main {
  flex: 1;
}

.credits {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  font-size: 12px;
  margin: 12px 0 20px;
}

.credits img {
  width: 80px;
}

.page-invite .back-btn .feather {
  height: 24px;
  width: 24px;
  stroke: #424242;
}

.page-invite .invite-form {
  width: 100%;
  max-width: 574px;
}

.page-invite .card {
  background-color: var(--white);
}

.page-invite .invite-notes {
  margin: 32px 0;
}

.token-display .token-heading {
  background-color: #7C8B9D;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #FFFFFF;
}

.token-display #access-token {
  display: block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #7C8B9D;
  background: #2E3442;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  line-height: normal;
}

.color-picker-wrapper {
  position: relative;
}

.color-picker-wrapper input[type=color] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  border-radius: .25rem;
  border: none;
  cursor: pointer;
  height: 25px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}

.page-branding .form-field {
  margin-bottom: 28px;
}
