{% extends "core/emails/base.html.j2" %}
{% block title %}Welcome to sbomify{% endblock %}
{% block content %}
    <h1>Welcome to sbomify</h1>
    <p>
        {# djlint:off #}
        Hi {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.email }}{% endif %},
        {# djlint:on #}
    </p>
    <p>
        We've set up a workspace for you with a <strong>{{ TRIAL_PERIOD_DAYS }}-day free trial</strong>
        of our Business plan. That means full access to all features. We'll let you know
        before it ends on {{ trial_end_date }}.
    </p>
    <p>Have questions? Just reply to this email and we'll get back to you.</p>
{% endblock %}
