{% extends "core/dashboard_base.html" %}
{% comment %}
Template context:
component - Component object
sboms - List of SBOM objects without data and packages fields
has_crud_permissions - Can modify public/private status?
APP_BASE_URL - Base URL for the application
{% endcomment %}

{% load widget_tweaks %}
{% load static %}
{% load django_vite %}

{% block title %}sbomify Component: {{ component.name }}{% endblock %}

{% block content %}

  <div class="d-flex flex-row">
    <div class="p-2 flex-fill">
      <h3 class="page-title">
        Component:
        {% if has_crud_permissions %}
          <span class="vc-editable-single-field" data-item-type="component" data-item-id="{{ component.id }}" data-item-value="{{ component.name }}"></span>
        {% else %}
          {{ component.name }}
        {% endif %}
      </h3>
    </div>
    <div class="p-2 flex-fill">
      <h4 class="pt-2" >Component ID: <span class="vc-copyable-value" data-value="{{ component.id }}"></span></h4>
    </div>
    <div class="p-2 flex-fill text-end">
      {% if has_crud_permissions %}
      <span class="vc-public-status-toggle" data-item-type="component" data-item-id="{{ component.id }}" data-public-url="{{ APP_BASE_URL }}{% url 'sboms:component_details_public' component.id %}"></span>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="vc-dashboard-stats" data-item-type="component" data-item-id="{{ component.id }}"></div>
    </div>
  </div>

  <div class="vc-component-meta-info" data-component-id="{{ component.id }}"
    {% if has_crud_permissions %}data-allow-edit{% endif %}
  ></div>

  {% if has_crud_permissions %}
  <div class="row">
    <div class="col-12">
      <div class="vc-ci-cd-info" data-component-id="{{ component.id }}" data-component-name="{{ component.name }}"></div>
    </div>
  </div>
  {% endif %}

  {% if has_crud_permissions %}
  <div class="row mt-3">
    <div class="col-12">
      <div class="vc-sbom-upload" data-component-id="{{ component.id }}"></div>
    </div>
  </div>
  {% endif %}

  <div class="row mt-3">
    <div class="col-12">
      {{ sboms_data|json_script:"sboms-data" }}
      <div class="vc-sboms-table" data-sboms-data-element-id="sboms-data"></div>
    </div>
  </div>

    {% if has_crud_permissions %}
  <div class="row mt-3">
    <div class="col-12">
      {{ request.session.user_teams|json_script:"user-teams-data" }}
      <div class="vc-danger-zone"
        data-component-id="{{ component.id }}"
        data-component-name="{{ component.name }}"
        data-is-owner="{% if is_owner %}true{% else %}false{% endif %}"
        data-user-teams-element-id="user-teams-data"
        data-csrf-token="{{ csrf_token }}">
      </div>
    </div>
  </div>
  {% endif %}

{% endblock%}

{% block scripts %}
  {% vite_asset 'core/js/main.ts' %}
  {% vite_asset 'sboms/js/main.ts' %}
{% endblock %}