{% extends "core/base.html.j2" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}SBOM Details{% endblock %}
{% block styles %}
    <style>
    .brand-logo {
        height: 3rem;
        max-width: 12rem;
        width: auto;
        object-fit: contain;
    }

    .credits-logo {
        height: 1.25rem;
        width: auto;
        max-width: 5rem;
        object-fit: contain;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .brand-logo {
            height: 3.25rem;
            max-width: 13rem;
        }
        .credits-logo {
            height: 1.375rem;
            max-width: 5.5rem;
        }
    }
    </style>
{% endblock %}
{% block main %}
    <main class="content public-page mb-4">
        <div class="brand"
             style="background-color: {{ brand.brand_color|default:'#DCDCDC' }}">
            {% if brand.brand_image %}
                <img src="{{ brand.brand_image }}"
                     alt="{{ brand.name }}"
                     class="brand-logo"
                     width="192"
                     height="48">
            {% else %}
                <img src="/static/img/sbomify.svg"
                     alt="sbomify logo"
                     class="brand-logo"
                     width="192"
                     height="48">
            {% endif %}
        </div>
        <div class="pp-content-container">
            <div class="pp-content-bg"
                 style="background-color: {{ brand.brand_color|default:'#DCDCDC' }}"></div>
            <div class="pp-content">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Metadata</h5>
                            </div>
                            <div class="card-body">
                                <p>
                                    Uploaded on: {{ sbom.created_at }}
                                    <br />
                                    Source: {{ sbom.source_display }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Comment</h5>
                            </div>
                            <div class="card-body">{{ sbom.data.creationInfo.comment }}</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'sboms:sbom_download' sbom.id %}"
                   class="btn btn-success float-end">
                    <i class="fas fa-download"></i> Download SBOM
                </a>
            </div>
        </div>
        <div class="credits">
            Powered by <a href="https://sbomify.com">
            <img src="/static/img/sbomify.svg"
                 alt="sbomify logo"
                 class="credits-logo"
                 width="80"
                 height="20" />
        </a>
    </div>
</main>
{% endblock %}
