{% extends "./base.htmx.j2" %}
{% block title %}sbomify{% endblock %}
{% block content %}
    <!-- Site notifications -->
    {% include "core/components/site_notifications.html.j2" %}
    <!-- Dashboard content -->
    {% block dashboard_content %}{% endblock %}
{% endblock %}
